* {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;

}
body {
  display: grid;
  justify-items: center;
  padding-top: 100px;
  padding-left: 50px;
  padding-right: 50px;
  background-color: rgb(233, 202, 239);
}
.copyButton {
  width: max-content;
}
.container {
  box-shadow: 4px 4px 4px 4px rgb(106, 74, 104);
  display: grid;
  width: calc(max-content + 200px);
  border: 1px black solid;
  border-radius: 5%;;
  background-color: rgb(244, 186, 226);
  padding: 30px;
}
.cp {
  display: grid;
  justify-content: center;
}
div {
  border: 2px rgb(214, 178, 178) solid;
  padding: 5px;
}
.title {
  display: grid;
  align-items: center;
}
label {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 20px;
}

label input {
  opacity: 0;
}
label span {
  position: absolute;
  cursor: pointer;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgb(238, 0, 0);
  border-radius: 34px;
}
label span:before {
  position: absolute;
  content: "";
  height: 16px;
  width: 20px;
  left: 2px;
  bottom: 2px;
  background-color: rgb(255, 255, 255);
  border-radius: 50%;
  transition: .4s;
}

input:checked + span {
  background-color: rgb(65, 255, 7);
}

input:checked + span:before {
  transform: translateX(18px);
}

.divOutput {
  display: grid;
  justify-content: center;
}
button {
  border-radius: 15%;
  height: 30px;
  background-color: rgb(130, 229, 130);
  color: white;
  font-weight: bolder;
  border: white;
  cursor: pointer;
}

button:active {
  opacity: 0.5;
  color: black
}

.output {
  text-align: center;
}

.header {
  text-align: center;
}

.cp {
  border: 0;
}